@import "tailwindcss";
/* body {
  font-family: Arial;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.form-container, .list-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  min-width: 350px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

input, button {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
} */
